<div id="homeContainer">
    
    <div class="loading" ng-show="loading">Loading&#8230;</div>

    <img src="img/home-logo.png" width="256" id="mainLogo">

    <div class="RobotoBold titleText">
        <span>Select your pool</span><br><br>

        <select class="Roboto" id="poolApiUrl" />

        <br><br>

        <div class="RobotoBold titleText">
            <span>Enter your wallet address</span><br><br>

            <input id="walletAddress" type="text" onblur="if (this.value == ''){this.value='Wallet address'}" onfocus="this.value=''" value="Wallet address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><br><br>

            <img src="./img/home-go-button.png" id="submitPool" height="36">

        </div>

    </div>

</div>